.location {
    background: #eaeaea;
    padding: 14px;
    text-align: center;
    font-weight: 500;
  
    p {
      margin: 0;
    }
  }  

.hero {
    background: $bg-light;
    text-align: center;
    padding: 32px 20px;
  
    h2 {
      margin: 0 0 12px;
      font-size: 26px;
      font-weight: 700;
    }
  
    p {
      margin: 0 0 22px;
      font-weight: 300;
    }
  }

  