.btn {
    display: inline-block;
    padding: 14px 22px;
    border-radius: 999px;
    color: #fff;
    font-weight: 500;
    background: linear-gradient($secondary, $primary);
    box-shadow: $shadow;
  }